
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #f8f8f8;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

.flex {
  display: flex;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.heading {
  font-size: 35px;
  font-weight: 700;
  color: rgb(83, 83, 83);
  text-align: center;
  margin: 25px 0px;
}

.levels p {
  background-color: rgb(121, 121, 121);
  color: white;
  text-align: center;
  width: 100%;
  font-weight: 600;
}
.level0,
.level1,
.level2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-right: 2px solid black;
  height: 250px;
  width: 300px;
}
.level-0-btn,
.level-1-btn,
.level-2-btn {
  background-color: rgb(133, 133, 133);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border: 1px solid black;
  height: 250px;
  width: 40px;
  align-items: center;
  padding: 15px;
}


button {
  font-size: 15px;
  outline: none;
  border: 0px;
  padding: 5px 9px;
  border-radius: 100px;
  color: rgb(38, 38, 38);
  background-blend-mode: multiply;
  cursor: pointer;
  font-weight: bolder;
}
button:focus {
  background-color: green;
  color: black;
  transition: all 0.75ms ease-in-out;

}
.elevator {
  position: relative;
  width: 250px;
  height: 200px;
  background-color: rgb(133, 133, 133); 
  margin: 10px;
  border: 1px solid black;
}

.line {
  position: absolute;
  width: 2px; /* Set the width to create a vertical line */
  height: 100%; /* Occupy the full height of the elevator */
  background-color: #000; /* Black color */
  left: 50%; /* Position in the middle horizontally */
  transform: translateX(-50%); /* Center the line horizontally */
}